@{
    ViewData["Title"] = "Listado de productos";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <br />
    <div class="col-md-12">
        <div class="container-fluid bg-info">
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>categoria</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Codigo de barras</th>
                    <th>Fecha</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="container-fluid bg-success">
            <div class="input-group input-group-btn">
                <a class="btn btn-success btn-block" asp-area="" asp-controller="Home" asp-action="Add">Agregar Producto</a>
            </div>
        </div>
    </div>
</div>